@media  (min-width:1500px) {
    .yellow .po1{
        margin-left: 243%;
     
    }
    .yellow  .po2{
        margin-left: 40.1%;
    }
    
    .yellow  .po3{
    margin-left:46.8%;
    }
    
    .yellow  .po4{
        margin-left: 53.9%;
    }
    
    .yellow  .po5{
        margin-left: 60.4%;
    }
}