

.rain_bow{
height:55vw;
width: 100%;
overflow: hidden;
}

.rain_bow .inner{
    gap: 15px;
}

.rain_bow h3{
  font-size: 2.5rem;
  margin: 0 auto;
  margin-top: 18%;
  width: 50%;
  text-align: center;
}
.rain_bow h3 span{
    font-size: 3rem;
}

.taste{
    font-size: 2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}



.many{
    left:20%;
    top: 15%;
}

.scroll{
    
    bottom: 5%; 

}


.menu{
    position: absolute;

}

.menu img{ 
    opacity: .4;
}

.second{
    background: url("../images/visual_img02.jpg")50% 0 no-repeat 
    #E9EFF2;
    background-size: cover;
}

.product{
    font-size: 2.8rem;
    width: 80%;
    margin: 0 auto;
     padding: 0;
    margin-top: 5%;

}

.product2{
    font-size: 2rem;
    margin-top: 30px;
    text-align: center;
    color:  #bf1c2f;
    animation: scroll infinite 3s;
}
.product span{
    color: #333;

}

.gap{
    width: 100%;
    gap: 100px;
}

.gap div{ 
   height: 200px;
   line-height:200px;
   font-size: 2rem;
 
}
.gap div:nth-child(3)::after,
.gap div:nth-child(2)::after,
.gap div:first-child::after{
   display: none;
}


.gap div:first-child:hover{
    background: url("../images/und.1.jpeg") no-repeat contain;
    transition: all .5s;
    color:#000;
}

.blue{
    background: #1e208a url("../images/fish.png")no-repeat 0 65%;
    background-size: 25%;
    position: relative;
    height: 60vw;
}
.swiper{
    height: 450px;
    padding-top: 0;
}
.blue > h3{
font-size: 3rem;
}

.inbl{
 
font-size: 3rem;

}

.dry{
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 45%;
}

.dry h3{
    font-size: 2.5rem;
}

.dry span{
    font-size: 1.4rem;
}

.aun{
    flex-direction: column;   
    gap: 20px;
}

.btn{
    gap: 50px;
    margin-top: 0px;
}

.btn span{
    font-size: 1.3rem;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;

}


footer{
    background: #111;
  height: 40vw;
  position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


address{
    color: gray;
    display: flex;
    position: absolute;
    width: 100%;
  bottom: 30%;
  gap: 20px;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  justify-content: center;
  left: 10%;
}

address div{
    justify-content: space-between;
  gap: 20px;
}

address span{
    color: #E9EFF2;

}

.black{
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.black p{
    height: 200px;
    line-height: 200px;
    display: inline-block;
}

.black p img{
opacity: .8;
}

.copy{
    font-size: .9rem;
    color:gray;
    text-align: center;
    font-weight: 200;
    margin-top: 21%;
    background-color: #000;
}



footer ul{
   color: gray;
}

.footer_img{
    opacity: .8;
}

.nnn{
    width: 500px;
    font-size: 1.1rem;
    color:#fff;
    opacity: .5;
    letter-spacing: -2px;
}

.title{
    height: 70vw;
    background:#f0f0f0;
    
}

.gray{
    margin-top: 8%;
    width: 65%;
}

.gray .line{
    background: #fff;
    height: 120px;
    line-height: 120px;
}

.gray h3{

    font-size: 2.5rem;
}



.wi100 li{
   position: absolute;
   left: 40%;
   opacity: 0; 
   transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

}

.wi100 li a{
    width: 100%;
    height: 20px;
}

.wi100 li a:hover{
    text-decoration: underline !important;
    
}

.gray{
    margin-top: 4vw;
}

.gray button{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #fff;
    border:solid 2px #333;
    border-radius: 50%;
}

.gray .flex{
    justify-content: space-around;
}

.cs_contain{
    height:220px ;
}

.cs{
    background: #fff;
    margin-top: 3%;
    width: 65%;
    text-transform: uppercase;
    height: 250px;
    position: relative;
}

.gray .center{
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 50px;
    z-index: 10;
}


.center li:first-child{
    font-size: 1.5rem;
    color: #1e208a;
}

.center li:last-child{
    position: absolute;
 bottom: 20px;
 left:70px;

}

.last_ul{
    border-top: 0px solid gray;
    padding-top: 20px;
    padding-left: 2px;
    line-height: 25px;
   position: absolute;
   left: 100%;
   top: 0;
   height: 230px;
 width: 53.2%;
 background-color: #fff;
 flex-direction: column;
}

.last_ul span{
    margin-left: 15px;
    color: #1e208a;
}

.gray .Shipping{
 flex-direction: column;
 gap:30px;
 justify-content: flex-start;
 margin-top: 50px;

}

.Shipping li:first-child{
    font-size: 1.5rem;
    color:#1e208a

}

#map{
    width: 65%;
    height: 300px;
    left: 17%;
    bottom:-30px;
    border: 1px solid #333;
}