.mobile{
    width: 100%;
    height: 150vh;
    background: #1e208a;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}


.mobile li a{
    color: #fff;
    font-size:1.5rem;
}

.ul{
    background-color: #E9EFF2;
    flex-direction: column;
    gap: 10px;
}

.ul li{
    margin-left: 10px;
}

.ul li a{
    color: #1e208a;
    text-transform: uppercase;
}

.ul li a:hover{
    text-decoration: underline;
}

.mobile.on{
    display: block;
}
ul .min{
    margin-left: 30px;
    padding-bottom: 30px;
}
ul .min:first-child{
    padding-top:140px;}